{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div class ="row">
<div class="col-md-12">
</div>
</div>
{{! The main content area on the homepage }}
<div class="row">
    <div class="col-md-8">
<!--          {{#get "posts" limit="1"}}

           {{#foreach posts}}
           {{log this}}

             <div class="feat-row">
             <div class="row">
             <a href="{{url}}"><div class="col-md-5">
               <img class="pull-left" src={{image}} />
               </div>
               <div class="col-md-7">
               <div class="feat-row-caption pull-right">
                 <h4>{{title}}</h4>
                 <p>{{excerpt words="50"}} <a class="read-more" href="{{url}}">&raquo;</a></p>               
                 </div>
               </div>
               </div>
               </a>
             </div>
           {{/foreach}}
         {{/get}}    --> 
    <div class="clearfix"></div>
      {{> "loop"}}
    </div>
    <div class="col-md-4">
    <h4 class="headline">TOP WAYS TO SAVE MONEY</h4>

   {{#get "posts" filter="featured:true" limit="1"}}
     {{#foreach posts}}
     <img class="feature-thumbnail" src={{image}} />
     <h5><strong>{{title}}</strong></h5>
     {{/foreach}}
  {{/get}}
      <div class="fb-page"
      data-href="http://www.facebook.com/yourfinancialassistant.info/" 
      data-width="340"
      data-hide-cover="false"
      data-show-facepile="false"></div>
          </div>  
</div>
